{% extends 'layout.html.twig' %}
{% block title %}Produit sélectionné
{% endblock %}
{% block content %}
	<div class="container mt-5 mb-5">

		<div class="card" style="width: 18rem;">

			<img class="card-img-top" src="{{asset('photosProduits/' ~ produit.photo)}} " alt=" {{produit.photo}}">

			<div class="card-body">
				<h5 class="card-title">{{produit.titre}}</h5>
				<h6 class="card-title">Couleur:{{produit.couleur}}</h6>
				<h6 class="card-title">Taille:{{produit.taille}}</h6>
				<p class="card-text">Description:{{produit.description}}</p>
				<h5 class="card-title">Prix:
					{{produit.prix}}
					€</h5>
				<a href="#" class="btn btn-primary">Retour à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}
