{% extends 'layout.html.twig' %}
{% block title %}
	Tous les produits
{% endblock
%}
{% block content %}

	<a href="{{path('admin_app_add')}}">
		<button class="btn btn-success text-white">
			Ajouter un produit
		</button>
	</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Titre</th>
				<th scope="col">Description</th>
				<th scope="col">Couleur</th>
				<th scope="col">Taille</th>
				<th scope="col">Photo</th>
				<th scope="col">Prix</th>
				<th scope="col">Stock</th>
				<th scope="col">Catégorie</th>
				<th scope="col">Date d'enregistrement</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					<td>{{ produit.id }}</td>
					<td>{{ produit.titre }}</td>
					<td>{{ produit.description }}</td>
					<td>{{ produit.couleur }}</td>
					<td>{{ produit.taille }}</td>
					<td><img class="img-thumbnail" src="{{ asset('photosProduits/' ~ produit.photo) }}" alt="{{ produit.titre }}"></td>
					<td>{{ produit.prix }}</td>
					<td>{{ produit.stock }}</td>
					<td>{{ produit.categorie.nom }}</td>
					<td>{{produit.dateEnregistrement|date("d/m/y")}}</td>
					<td>
						<a href="{{path("app_select",{id:produit.id})}}">
							<i class="fas fa-eye mx-1"></i>
						</a>
						<a href="{{path("admin_app_update",{id:produit.id})}}">
							<i class="fas fa-edit mx-1 text-success"></i>
						</a>
						<a href="{{path("admin_app_delete",{id:produit.id})}}">
							<i class="fas fa-trash mx-1 text-danger" onclick="return confirm('êtes vous sûr de vouloir supprimer le produit')"></i>
						</a>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
