{% extends "base.html.twig" %}
{% block body %}
<header>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path("app_home")}}">Shoppinas</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("app_allProduits")}}">Produits</a>
						</li>
					</li>
					{% if is_granted('IS_AUTHENTICATED_FULLY')%}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_register')}}">Inscription</a>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Admin
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a class="dropdown-item" href="{{path('admin_app_add')}}">Ajout d'un produit</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('admin_app_addCategorie')}}">Ajout d'une catégorie</a>
							</li>

							<li>
								<a class="dropdown-item" href="{{path('admin_app_all')}}">Gestion des produits</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Panier</a>
					</li>

				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav></div></header><main class="container mt-5 mb-5">{%  for message in app.flashes('error') %}
	<div class="alert alert-danger text-center">
	{{message}}
	</div>
{% endfor %}
{%  for message in app.flashes('success') %}
	<div class="alert alert-success text-center">
	{{message}}
	</div>
{% endfor %}																			{% block content %}{% endblock %}{# {% block final_js %}{% endblock #}
{# %} #}</main><footer class="fixed-bottom bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-bottom">
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item">
				<a class="nav-link" href="">
					- CGV</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					- Nous contacter
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					- Qui sommes nous</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					- Nos Valeurs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">
					- Rejoindre l'équipe</a>
			</li>
		</ul>
	</div>
</nav></footer>{% endblock %}
